*
!/example01/reference/
!/example01/reference/*
!/example01/reference/*/*
!/example02/reference/
!/example02/reference/*
!/example02/reference/*/*
!/example03/reference/
!/example03/reference/*
!/example03/reference/*/*
!run_example
!*in
!*ref
!*.sh
!*.upf
!README
