*~
*.a
*.inc
*.mod
*.o
*.x
bin/*
FoX
iotk
include/fft_defs.h
include/configure.h
include/c_defs.h
install/config.log
install/config.status
install/configure.msg
Modules/version.f90
test-suite/*/test.err.*
test-suite/*/test.out.*
S3DE
install/configure
