build:cmake-gnu:
  tags: [docker]
  image: ubuntu:20.04
  variables:
    DEBIAN_FRONTEND: "noninteractive"
  script:
    - apt-get -qq update
    - apt-get -qq install apt-transport-https ca-certificates gnupg software-properties-common wget
    - wget -O - https://apt.kitware.com/keys/kitware-archive-latest.asc 2>/dev/null | gpg --dearmor - | tee /etc/apt/trusted.gpg.d/kitware.gpg >/dev/null
    - apt-add-repository 'deb https://apt.kitware.com/ubuntu/ focal main'
    - apt-get install -qq build-essential git cmake libopenblas-dev libfftw3-dev libopenmpi-dev
    - cmake --version
    - mkdir build
    - cd build
    - cmake -DBUILD_SHARED_LIBS=ON -DCMAKE_Fortran_COMPILER=mpif90 -DCMAKE_C_COMPILER=mpicc
            -DMPIEXEC_PREFLAGS="--allow-run-as-root;--oversubscribe" .. && make -j 2
      && make pw ph hp pwcond neb pp pwall cp tddfpt gwl ld1 upf xspectra couple epw all_currents
      && ctest -j 2 -L unit --output-on-failure
    - make install DESTDIR=`pwd`/install_root


build:pgi:
  tags: [docker]
  image: nvcr.io/nvidia/nvhpc:21.2-devel-cuda11.2-ubuntu20.04
  script:
    - apt-get -qq update
    - apt-get -qq install ca-certificates git m4
    - ./configure FC=pgf90 F90=pgf90 F77=pgfortran MPIF90=mpif90 --enable-openmp --with-cuda=yes --enable-cuda-env-check=no --with-cuda-runtime=11.2  --with-cuda-cc=70
    - make -j 2 pw cp ph



