build/
/build_*/
.vscode/

*~
*.a
*.inc
*.mod
*.o
*.x
*.pyc
*.orig
*.swp
*.UPF
*.log
*.dvi
*.toc
*.aux
*_tmp.f90
*.TMP
*.out

bin/*
FoX
MBD
include/configure.h
include/qe_cdefs.h
install/config.log
install/config.status
install/configure.msg
install/make-*
install/configure-*
install/uncompress-*
make.depend
test-suite/*/test.err.*
test-suite/*/test.out.*
test-suite/*/pwscf*
test-suite/userconfig
*/results
S3DE
D3Q
W90
archive/wannier90-*tgz
wannier90-*
devicexlib
tempdir
tags
EPW/src/tmp
LAXlib/*.fh
**/CRASH
**/pwscf.xml
