build:pw:
  image: ubuntu:latest
  script:
    - apt-get update
    - apt-get install --yes build-essential gfortran wget python
    - apt-get install --yes libopenmpi-dev openmpi-bin
    - apt-get install --yes libblas-dev liblapack-dev fftw3 fftw3-dev pkg-config
    - ./configure
    - make pw
#    - export OMP_NUM_THREADS=1
#    - cd test-suite
#    - mkdir /tmp/save
#    - make run-tests-pw-serial
#    - rm -r /tmp/save

build:cp:
  image: ubuntu:latest
  script:
    - apt-get update
    - apt-get install --yes build-essential gfortran wget python
    - apt-get install --yes libopenmpi-dev openmpi-bin
    - apt-get install --yes libblas-dev liblapack-dev fftw3 fftw3-dev pkg-config
    - ./configure
    - make cp
#    - export OMP_NUM_THREADS=1
#    - cd test-suite
#    - mkdir /tmp/save
#    - make run-tests-cp-serial
#    - rm -r /tmp/save

#build:centos:
#  image: centos:latest
#  script:
#    - yum -y groupinstall "Development Tools" 
#    - yum -y install wget which python27
#    - ./configure
#    - make all
#    - export OMP_NUM_THREADS=1
#    - cd test-suite
#    - mkdir /tmp/save
#    - make run-tests-serial
#    - rm -r /tmp/save
