# -*- python -*-
# ex: set syntax=python:

# Parallel compilation with OneAPI 2025.1, tests everything except CP
# CP is miscompiled, add Step.test_CP to test it anyway
#
from worker import Steps

Environ={
'CC' : 'gcc',
'FC' : 'ifx',
'F90' : 'ifx',
'MPIF90_F90' : 'mpiifx',
'I_MPI_ROOT' : '/opt/intel/oneapi/mpi/2021.15',
'FI_PROVIDER_PATH' : '/opt/intel/oneapi/mpi/2021.15/opt/mpi/libfabric/lib/prov:/usr/lib/x86_64-linux-gnu/libfabricexport',
'MKLROOT' : '/opt/intel/oneapi/2025.1',
'LIBRARY_PATH' : '/opt/intel/oneapi/tcm/1.3/lib:/opt/intel/oneapi/umf/0.10/lib:/opt/intel/oneapi/tbb/2022.1/env/../lib/intel64/gcc4.8:/opt/intel/oneapi/mpi/2021.15/lib:/opt/intel/oneapi/mkl/2025.1/lib:/opt/intel/oneapi/compiler/2025.1/lib',
'LD_LIBRARY_PATH' : '/opt/intel/oneapi/2025.1/opt/mpi/libfabric/lib:/opt/intel/oneapi/2025.1/opt/compiler/lib:/opt/intel/oneapi/2025.1/lib:/opt/intel/compilers_and_libraries_2020.4.304/linux/tbb/lib/intel64_lin/gcc4.1:/opt/intel/compilers_and_libraries_2020.4.304/linux/compiler/lib/intel64_lin:/opt/intel/compilers_and_libraries_2020.4.304/linux/mkl/lib/intel64_lin',
'PATH' : '/opt/intel/oneapi/2025.1/bin:/home/giannozz/.local/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/snap/bin',
'NPROCS' : '4'
}

Step = Steps(Environ)


f=BuildFactory(Step.clean+Step.checkout_qe+Step.configure_qe+Step.make_pw+\
               Step.make_ph+Step.make_epw0+Step.make_epw+Step.test_clean+\
               Step.test0+Step.test_PW+Step.test_PP+\
               Step.test_PH+Step.test_EPW+Step.test_HP)


