epw_*/*.a2f*
epw_*/*.acon_iso_*
epw_*/*.bvec
epw_*/*.chk
epw_*/*.cube
epw_*/*.dos
epw_*/*.dyn*
epw_*/*.epb*
epw_*/*.ephmat/
epw_*/*.epmatkq*
epw_*/*.epmatwp
epw_*/*.fc
epw_*/*.fmt
epw_*/*.freq
epw_*/*.imag_*iso_*
epw_*/*.kgmap
epw_*/*.kmap
epw_*/*.lambda_*
epw_*/*.mmn
epw_*/*.nnkp
epw_*/*.pade_*iso_*
epw_*/*.phdos*
epw_*/*.plrn
epw_*/*.qdos_*
epw_*/*.res.*
epw_*/*.tau_restart*
epw_*/*.ukk
epw_*/*.wfc*
epw_*/*.win
epw_*/*.wout
epw_*/*.xml
epw_*/*.xsf
epw_*/*_band*.dat
epw_*/*_band.gnu
epw_*/*_band.kpt
epw_*/*_elcond_*
epw_*/*_hr.dat
epw_*/*_wsvec.dat
epw_*/*save/
epw_*/EPW.bib
epw_*/Energy.dat
epw_*/Fepmatkq*/
epw_*/Fsparse*/
epw_*/_ph0/
epw_*/band.eig
epw_*/c_dir*.dat
epw_*/c_ph*.dat
epw_*/decay.*
epw_*/epsilon2_*.dat
epw_*/inv_tau*_tmp
epw_*/lambda.*
epw_*/linewidth.*
epw_*/scattering_rate_*
epw_*/sparse*
epw_*/specfun*
epw_*/*tmp*
epw_*/*bak
epw_*/out*_0
!epw_*/quadrupole.fmt
!epw_metal/save/
!epw_soc/save/
