    body {
      padding-top: 70px;
    }
    table.nostretch {
      width=100%
    }
    .nostretch td {
      class='block'
    }
    .nostretch tr td{
      width:1%;
      white-space:nowrap;
    }

    ol.hierarchy {
      min-height: 40px;
      background-color: #f5f5f5;
      border: 1px solid #e3e3e3;
      border-radius: 3px;
      -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    }
    
    .smallcaps {
     font-variant: small-caps;
    }
    .well .sidebar {
     padding: 8px 0
    }
    .sidebar a {
      padding: 0px,0px,0px,0px
    }
    .varlist>tbody>tr>td {
      padding-left: 3px;
      padding-right: 3px;
    }
    .varlist>tbody>tr>td:first-child, .varlist>thead>tr>td:first-child {
      padding-left: 8px;
    }
    .varlist>tbody>td>td:last-child, .varlist>thead>tr>td:last-child {
      padding-right: 8px;
    }

    .highlight pre { 
      overflow-x: auto; 
      overflow-wrap: normal; 
      white-space: pre
    }
    
    .codesum h3 {
      margin-top: 2px;
      margin-bottom: 2px;
    }
    
    h1.inline, h2.inline, h3.inline {
      display: inline;
    }
    
    .depwarn {
      float: right;
    }
    
    .anchor {
      position: absolute;
      margin: -4.5em;
      visibility:hidden;
    }

    .alert {
      margin-left: 5px;
      margin-right: 5px;
      margin-top: 5px;
    }
    
    div.toc {
      font-size: 14.73px;
      padding-left: 0px;
      padding-right: 0px;
    }
    
    div.toc a {
      padding-left: 20px;
      padding-right: 20px;
      margin-right: 15px;
      padding-top: 5px;
      padding-bottom: 5px;
    }
    
    div.toc li {
      font-size: 0.95em;
      padding-left: 15px;
    }
    
    div.toc li.title {
      font-size: 1em;
    }

    div.toc hr {
      margin-top: 12px;
      margin-bottom: 10px;
    }

    .in-well {
      padding: 0px 0px;
      margin-bottom: 0px;
      float:right;
    }
    
    table tr.submod>td {
      border-top: none;
      font-size: 13.5px;
    }

    .graph-help {
      font-size: 10px;
    }
    
    .depgraph {
      width: 100%;
      max-width: 1140px;
    }
